.container {
    padding: 65px 0;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 550px;

    padding: 36px;

    @media (max-width: 600px) {
        width: 90%;

        padding: 24px;
    }
}
